In [1]:
print ('hello world this is my first python task')

hello world this is my first python task

In [2]:
x=5
print(x)

5

In [3]:
type(x)

int

In [4]:
y=7

In [5]:
z=x*y
print(z)

35

In [6]:
z=x**y
print(z)

78125

In [7]:
x=22
y=7
z=y/x
print(z)

0.3181818181818182

In [8]:
z=x//y
print(z)

3

In [9]:
x=int(input('please enter value: '))
z=x*y
print(z)

please enter value: 21
147

In [10]:
marks= float(input("please input: "))
if marks<50:
    print("sorry")
else:
    print("wow")
print("have a great day")

please input: 45
sorry
have a great day

In [11]:
for x in range (10):
    print(x,end=' ')

0 1 2 3 4 5 6 7 8 9

In [12]:
i=int(input('enter table no:'))
for x in range(1,11):
    print(i,' * ',x,' = ',x*i)

enter table no:2
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [13]:
a=int(input('enter first no: '))
b=int(input('enter second no: '))
if a>b:
    print(a," is greater")
else:
    print(b," is greater")

enter first no: 34
enter second no: 32
34  is greater

In [14]:
odd=int(input('enter no: '))
if odd%2==1:
    print(odd," is odd")
else:
    print(odd," is not odd")

enter no: 3
3  is odd

In [15]:
print('*********')
print('*\t*')
print('*\t*')
print('*********')

*********
*	*
*	*
*********

In [16]:
n1=int(input('enter no 1: '))
n2=int(input('enter no 2: '))
n3=int(input('enter no 3: '))
if n1>n2:
    if n1>n3:
        if n2>n3:
            print("2nd max is ",n2)
        else:
            print("2nd max is ",n3)   
    else:
        print("2nd max is ",n1)        
elif n2>n1:
    if n2>n3:
        if n1>n3:
            print("2nd max is ",n1)
        else:
            print("2nd max is ",n3)
    else:
        print("2nd max is ",n2)       
        
elif n3>n1:
    if n3>n2:
        if n1>n2:
            print("2nd max is ",n1)
        else:
            print("2nd max is ",n2)
    else:
        print("2nd max is ",n3)       
elif n1>n3:
    if n1>n2:
        if n3>n2:
            print("2nd max is ",n3)
        else:
            print("2nd max is ",n2)
    else:
        print("2nd max is ",n1)
else:
    print("nothing")

enter no 1: 45
enter no 2: 34
enter no 3: 12
2nd max is  34

In [17]:
no=int(input("enter no : "))
no1=no
rem=0
div=0
sum=0
for x in range(no1):
    rem=no1%10
    div=no1//10
    no1=div
    sum = sum+rem
    if no1!=0:
        print(rem)
    else:
        print(rem)
        break
print('sum is :',sum)

enter no : 12356
6
5
3
2
1
sum is : 17